/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * Main body and panel elements
 */
 
@font-face {
  font-family:'Amutham';
    src: url('Amutham.ttf.woff') format('woff'),
    url('Amutham.ttf.svg#Amutham') format('svg'),
    url('Amutham.ttf.eot'),
    url('Amutham.eot?#iefix') format('embedded-opentype'); 
    font-weight:normal;
    font-style:normal;
}

body {
  font-family:'Amutham';
  overflow:hidden;
}

.btn {
  font-size:24px;
  margin:5px;
} 

.row {
  margin-left:0px;
  margin-right:0px;
  padding-top:15px;
}

.panel-logica {
  border:2px solid green;
  border-radius:10px;
  -webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow:0 2px 2px rgba(0, 0, 0, 0.3);
}

.btn-xs {
  font-size:18px;
  margin:2px;
}

.fullheight {
  height:100vh;
  background-color:#fd6;
}

.lbtoolwrapper {
  margin:0px;
}

.lbcanvas {
  height:2048px;
  width:2048px;
}

.fullinnerheight {
  height:-moz-calc(100vh - 30px);
  height:-webkit-calc(100vh - 30px);
  height:calc(100vh - 30px); 
}

.react-draggable {
  display:table;
  margin:0 auto;
}

.react-draggable-dragging {
  opacity:0.5;
}

.panel-logica .panel-heading {
  font-size:28px;
  color:white;
  background-color:green;
}

.toollabel {
  font-size:20px;
  text-align:center;
  margin-top:5px;
  margin-bottom:5px;
  background-color:#fff;
}

.toolImage {
  width:180px;
}

.remoteImage {
  width:80px;
}

.qrImage {

}

.canvas {
  padding:0px;
  height:-moz-calc(100% - 62px);
  height:-webkit-calc(100% - 62px);
  height:calc(100% - 62px);
  overflow:auto;
}

.centerspan {
  display:table-cell;
  vertical-align:middle;
  line-height:normal;      
}

/*
 * Logica block elements
 */
 
.lb {
  position:relative;
  text-align:center;
  font-size:24px;
  background-color:white;
  box-shadow:2px 2px 1px #aaa;
}
 
.lb-ledarray {
  @extend .lb;
  zoom:100%;
  font-size:0px;
  width:102px;
  background-color:white;
  padding:2px;
  border:solid 1px #888;
}

.lb-ledrow {
  line-height:0px;
}

.lb-led {
  background-color:#ccc;
  height:10px;
  width:10px;
  margin:1px;
  border:solid 1px #888;
  border-radius:5px;
  display:inline-block;
  box-shadow:1px 1px 1px #aaa;
}

.lb-led-sm {
  background-color:#ccc;
  height:6px;
  width:6px;
  margin:1px;
  border:solid 1px #888;
  border-radius:3px;
  display:inline-block;
  box-shadow:1px 1px 1px #aaa;
}

.lb-led-edit {
  background-color:#ccc;
  height:25px;
  width:25px;
  margin:1px;
  border:solid 1px #888;
  border-radius:3px;
  display:inline-block;
  box-shadow:1px 1px 1px #aaa;
}


.lb-flowstart {
  @extend .lb;
  border-radius:25px;
  display:table;
  width:200px;
  height:50px;
  border:5px solid green;
  color:green;
}

.lb-flowend {
  @extend .lb;
  border-radius:25px;
  display:table;
  width:200px;
  height:50px;
  border:5px solid red;
  color:red;
}

.lb-face, .lb-face2{
  @extend .lb;
  font-size:0px;
  width:70px;
  background-color:rgba(255,255,255,0.8);
  padding:2px;
  border:solid 1px #ddd;
}

.lb-remote {
  @extend .lb;
}

.lb-controller {
  position:relative;
}
.lb-wheels {
  position:relative;
}
.lb-connector {
  height:20px;
  width:20px;
  border:solid 1px #888;
  border-radius:10px;
  text-align:center;
  position:absolute;
  background-color:rgba(255,255,255,0.8);
}

.lb-draggable {
  border:solid 1px #888;
  border-radius:10px;
  padding:5px;
}

//body {
//  overflow: hidden;
//}

#editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  margin: 0px auto;
  top: 0px; left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 1050;
}
.modal_wrapper{
  display: table;
  overflow: auto;
  overflow-y: scroll;
  width:80%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  text-align: left;
  margin: 0px auto;
}
.modal-dialog{
  margin-top: 0px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  margin: 0px 20px;
}
.modal-content{
   height:80%;
 }

.modal-title {
  font-size:24px;
}
.modal-body {
  height:calc(100% - 150px);
}
#errmodalcontent {
  height:50%;
}
#msgbody {
  font-size:24px;
}