link href="/tutor/osc/build.css" rel="stylesheet"

.row.fullheight
  .col-md-3
    = react_component 'LBTutorOscillators', {}
  .col-md-9#oscpanel
    #container
      #caption style="display: block;"
        .line
          | oscillator.type =&nbsp;
          span#type-value
        .line
          | oscillator.frequency.value =&nbsp;
          span#freq-value

script src="/tutor/osc/vendor.js"
script src="/tutor/osc/lib.js"
script src="/tutor/osc/main.js"

javascript:

  var useCharacter = function (c) {

    if (c == 'square') {
      var i = 0;
    } else if (c == 'sawtooth') {
      i = 1;
    } else if (c == 'triangle') {
      i = 2;
    } else if (c == 'sine') {
      i = 3;
    } else {
      lbMsg("useCharacter", "Character " + c + " not valid");
      return;
    }

    activeCharacter.stop();
    carousel.activeChildIndex = i;
    activeCharacter = characters[i]
    updateDom();
  };

  var playSound = function(pitch,time) {
    var char = activeCharacter;
    char.stretch(pitch);
    char.start();
    updateDom();
    if (time > 0) {
      setTimeout(function () {
        char.stop();
        updateDom();
      }, time)
    }
  }

  var stopSound = function() {
    activeCharacter.stop();
    updateDom();
  }