script src="/js/three.min.js"
script src="/js/cameras/CombinedCamera.js"
script src="/js/renderers/Projector.js"
script src="/js/renderers/CanvasRenderer.js"
script src="/js/libs/stats.min.js"

= react_component 'LBTutorWorld', {}