<center>
    <h1>Remote</h1>
</center>

<div class="col-xs-6"><button class="btn btn-perdoco btn-default">A</button></div>
<div class="col-xs-6"><button class="btn btn-perdoco btn-default">B</button></div>
<div class="col-xs-6"><button class="btn btn-perdoco btn-default">C</button></div>
<div class="col-xs-6"><button class="btn btn-perdoco btn-default">D</button></div>
<div class="col-xs-6"><button class="btn btn-perdoco btn-default">E</button></div>
<div class="col-xs-6"><button class="btn btn-perdoco btn-default">F</button></div>
