<h1>Remote</h1>

<div class="col-xs-4"><button ng-click="onClick('A')" class="btn btn-perdoco btn-default">A</button></div>
<div class="col-xs-4"><button ng-click="onClick('B')" class="btn btn-perdoco btn-default">B</button></div>
<div class="col-xs-4"><button ng-click="onClick('C')" class="btn btn-perdoco btn-default">C</button></div>
<div class="col-xs-4"><button ng-click="onClick('D')" class="btn btn-perdoco btn-default">D</button></div>
<div class="col-xs-4"><button ng-click="onClick('E')" class="btn btn-perdoco btn-default">E</button></div>
<div class="col-xs-4"><button ng-click="onClick('F')" class="btn btn-perdoco btn-default">F</button></div>
<div class="col-xs-4"><button ng-click="onClick('G')" class="btn btn-perdoco btn-default">G</button></div>
<div class="col-xs-4"><button ng-click="onClick('H')" class="btn btn-perdoco btn-default">H</button></div>
<div class="col-xs-4"><button ng-click="onClick('I')" class="btn btn-perdoco btn-default">I</button></div>